@import '../../utils/variables';
@import '../../utils/mixins';

.pagecontent {
    @include scroll;
    box-sizing: border-box;
    padding: $PADDING;
    flex-grow: 1;

    &--labelled {
        padding-top: 0;
    }

    &__content {
        max-width: $CONTENT-MAX-WIDTH;
        margin: 0 auto;
        &--full {
            max-width: unset;
        }
    }

    &__header {
        padding: $PADDING 0;
        background-color: $BODY-COLOR;
        position: sticky;
        margin: 0;
        top: 0;
    }
}
