@import '../../../utils/variables';
@import '../../../utils/mixins';

.create {
    &__form {
        margin-top: $PADDING;
    }

    &__buttons {
        margin-top: $PADDING/2;
        & button {
            position: relative;
        }
    }

    &__upload {
        @include position(absolute, auto, 0);
        cursor: pointer;
        opacity: 0;
        width: 100%;
    }
}