@import '../../utils/variables';
@import '../../utils/mixins';

body {
    background-color: $BODY_COLOR;
    color: $TEXT_COLOR;
    padding: 0;
    margin: 0;
}

#root {
    @include flex(column);
    max-height: 100vh;
    height: 100vh;
}

// Toasty Styles

.toasty {
    margin-bottom: -1rem;
    &__toast {
        box-shadow: none;
        padding: $PADDING;
    }
}

.enter {
    animation-name: enter;
}
@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.exit {
    animation-name: exit;
}
@keyframes exit {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
