@import '../../utils/variables';
@import '../../utils/mixins';

.sidenav {
    padding-left: $PADDING/2 !important;

    &__content {
        padding: $PADDING;
        background-color: $BACKGROUND_COLOR;
        height: 100%;
    }
}
