@import '../../utils/variables';
@import '../../utils/mixins';

.sidenav {
    @include scroll;
    flex-shrink: 0;
    width: $SIDENAV-WIDTH;
    background-color: $BACKGROUND-COLOR;
    box-sizing: border-box;
    box-shadow: $SHADOW;

    &--padded {
        padding: $PADDING;
    }
}
