@import '../../utils/variables';
@import '../../utils/mixins';

.userprofile {
    @include flex(row);
    background-color: $BACKGROUND_COLOR;
    margin: auto;
    padding: ($PADDING * 2);

    &__form {
        width: 100%;
    }

    &__form-img {
        margin: auto 0;
        @include flex(column, center, left);
        width: 150px;
        // height: 150px;
    }

    &__form-img-src {
        width: 100%;
        // height: 100%;
        border-radius: 50%;
        margin-bottom: $PADDING;
    }

    &__form-header {
        font-size: 1.6rem;
        font-weight: bold;
        padding-bottom: $PADDING;
    }

    &__form-buttons {
        @include flex(row, right);
    }

    &__img {
        @include flex(center);
        flex-shrink: 0;
        margin: auto 0;
        width: 150px;
        height: 150px;
    }

    &__img-src {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &__text {
        @include flex(column, center, left);
        flex-grow: 1;
        padding: $PADDING;
        margin-right: auto;
    }

    &__text-username {
        font-size: 1.6rem;
        font-weight: bold;
    }

    &__text-email {
        margin-bottom: ($PADDING / 2);
        color: lighten($TEXT-COLOR, 30%);
    }

    &__text-bio {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
}
