// Resources
$PRIMARY_FONT: "Rubik", sans-serif;

// Colors
$BODY_COLOR: #e2e2e2;
$BACKGROUND_COLOR: #ffffff;
$PRIMARY_COLOR: #0886ff;
$TEXT_COLOR: #434343;

// Dimensions
$RADIUS: 8px;
$PADDING: 24px;

// EASE
$EASE-NORMAL: cubic-bezier(0.4, 0, 0.2, 1);

// Speeds
$SPEED-FAST: 150ms;
$SPEED-NORMAL: 200ms;
$SPEED-SLOW: 300ms;
$SPEED-PAGE: 500ms;

// Media screen sizes
$MEDIA-PHONE: 550px;
$MEDIA-TABLET: 768px;
$MEDIA-LAPTOP: 1024px;
$MEDIA-DESKTOP: 1440px;
