// Colors
$BODY-COLOR: #e2e2e2;
$SHADOW: 0 0 8px 4px rgba(0, 0, 0, 0.05);
$BACKGROUND-COLOR: #ffffff;
$PRIMARY-COLOR: #0886ff;
$TEXT-COLOR: #434343;

// Dimensions
$PADDING: 1.5rem;
$LANDING-MAX-WIDTH: 460px;
$RADIUS: 3px;
$SIDENAV-WIDTH: 360px;
$CONTENT-MAX-WIDTH: 1000px;
$VIDEO-MAX-WIDTH: 500px;

// EASE
$EASE-NORMAL: cubic-bezier(0.4, 0, 0.2, 1);

// Speeds
$SPEED-FAST: 150ms;
$SPEED-NORMAL: 200ms;
$SPEED-SLOW: 300ms;
$SPEED-PAGE: 500ms;

// Media screen sizes
$MEDIA-PHONE: 550px;
$MEDIA-TABLET: 768px;
$MEDIA-LAPTOP: 1024px;
$MEDIA-DESKTOP: 1440px;
