@import '../../utils/variables';
@import '../../utils/mixins';

.pagelayout {
    height: 100%;
    flex-direction: column !important;

    & &__content {
        padding: $PADDING $PADDING/3;
        flex-grow: 1;
    }
}
